input#submit_button {
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #0f65e7;
    color: #fff;
    border-style: none;
    position: absolute;
    bottom: 400px;
    left: 650px;
}

input#ID {
    padding: 15px 80px;
    font-size: 1.2em;
    background-color: #0f65e7;
    border-style: none;
    position: absolute;
    bottom: 700px;
    left: 600px;
}

input#pass {
    padding: 15px 80px;
    font-size: 1.2em;
    background-color: #0f65e7;
    border-style: none;
    position: absolute;
    bottom: 600px;
    left: 600px;
}

input#newPass {
    padding: 15px 80px;
    font-size: 1.2em;
    background-color: #0f65e7;
    border-style: none;
    position: absolute;
    bottom: 500px;
    left: 600px;
}
    
input#submit_button2 {
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #0f65e7;
    color: #fff;
    border-style: none;
    position: absolute;
    bottom: 400px;
    left: 700px;
}

h3#wrongPass{
    position: absolute;
    top: 50px;
    left: 600px;
}

h3#reInput{
    position: absolute;
    top: 100px;
    left: 600px;
}

input#radio1{
    transform: scale(1.5);
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    width: 1em;
    height: 1em;
}

input#radio2{
    transform: scale(1.5);
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    width: 1em;
    height: 1em;
}

input#submit{
    padding: 10px 15px;
    font-size: 1.2em;
    background-color: #0f65e7;
    color: #fff;
    border-style: none;
    position: relative
}

.radio label {
    display: block;
    font-size:30px;
    position:relative;
    padding-left:1em;
  }

  div.box { 
    position: absolute;
    top: 150px;
    left: 600px;
}

h2#reset{
    position: absolute;
    top: 50px;
    left: 400px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#ccc;
}
::placeholder{ /* Others */
 color:#ccc
}
